@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


input {
  border: none;
  outline: none;
  background-color: transparent;

  border-bottom: 1px solid #e7ba66;

  
}


button {
  background-color: transparent;
  outline: none;
  border: none;
  
  cursor: pointer;
}

select {
  cursor: pointer;
  padding: 0.3rem 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid #e7ba66;

}